@tailwind base;
@tailwind components;
@tailwind utilities;

/*How to fix Tailwind CSS's h-screen on iOS Safari
https://benborgers.com/posts/tailwind-h-screen
*/
@supports (-webkit-touch-callout: none) {
    .h-screen {
        /*noinspection CssInvalidPropertyValue*/
        height: -webkit-fill-available;
    }
}

::-webkit-scrollbar {
    width: 3px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: #eeeeee;
    border-radius: 10px;
}

@layer utilities {
    .scrollbar-visible::-webkit-scrollbar-thumb {
        background-color: #eeeeee;
        transition: background-color 1000ms linear;
    }
    .scrollbar-visible-neutral-300::-webkit-scrollbar-thumb {
        background-color: #d4d4d4;
        transition: background-color 1000ms linear;
    }
    .scrollbar-visible-neutral-500::-webkit-scrollbar-thumb {
        background-color: #71717a;
        transition: background-color 1000ms linear;
    }

    .scrollbar-gone::-webkit-scrollbar{
        width: 0;
        height: 0;
    }

    .scrollbar-hidden::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0);
        transition: background-color 1000ms linear;
    }
}

@font-face {
    font-family: 'borel';
    src: url('assets/font/Borel/Borel-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@layer utilities {
    /*
      Chromium browsers don't render nested backdrop filters.
      As a workaround, add 'before:' to the outer filter, along with 'before:backdrop-hack':

        <div class="before:backdrop-blur-md before:backdrop-hack>
          <div class="backdrop-blur-md"></div>
        </div>

      See https://stackoverflow.com/a/76207141.
    */
    .backdrop-hack {
        @apply absolute inset-0 -z-10;
    }
}

.brightness-200 {
  -webkit-filter: brightness(150%);
}
