@tailwind base;
@tailwind components;
@tailwind utilities;

/*How to fix Tailwind CSS's h-screen on iOS Safari
https://benborgers.com/posts/tailwind-h-screen
*/
@supports (-webkit-touch-callout: none) {
    .h-screen {
        /*noinspection CssInvalidPropertyValue*/
        height: -webkit-fill-available;
    }
}

::-webkit-scrollbar {
    width: 3px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: #eeeeee;
    border-radius: 10px;
}

/*for Firefox*/
:root {
    scrollbar-color: #eeeeee transparent;
    scrollbar-width: thin;
}

@layer utilities {
    .scrollbar-visible::-webkit-scrollbar-thumb {
        background-color: #eeeeee;
        transition: background-color 1000ms linear;
    }

    /*for Firefox*/
    .scrollbar-visible {
        scrollbar-color: #eeeeee transparent;
        transition: background-color 1000ms linear;
    }

    .scrollbar-visible-neutral-300::-webkit-scrollbar-thumb {
        background-color: #d4d4d4;
        transition: background-color 1000ms linear;
    }

    /*for Firefox*/
    .scrollbar-visible-neutral-300 {
        scrollbar-color: #d4d4d4 transparent;
        transition: background-color 1000ms linear;
    }

    .scrollbar-visible-neutral-500::-webkit-scrollbar-thumb {
        background-color: #71717a;
        transition: background-color 1000ms linear;
    }

    /*for Firefox*/
    .scrollbar-visible-neutral-500 {
        scrollbar-color: #71717a transparent;
        transition: background-color 1000ms linear;
    }

    .scrollbar-gone::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .scrollbar-gone {
        /*for Firefox*/
        scrollbar-width: none;
    }

    .scrollbar-hidden::-webkit-scrollbar-thumb {
        background-color: transparent;
        transition: background-color 1000ms linear;
    }

    .scrollbar-hidden-instant::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    /*for Firefox*/
    .scrollbar-hidden {
        scrollbar-color: transparent transparent;
        transition: background-color 1000ms linear;
    }
}

@font-face {
    font-family: 'borel';
    src: url('assets/font/Borel/Borel-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@layer utilities {
    /*
      Chromium browsers don't render nested backdrop filters.
      As a workaround, add 'before:' to the outer filter, along with 'before:backdrop-hack':

        <div class="before:backdrop-blur-md before:backdrop-hack>
          <div class="backdrop-blur-md"></div>
        </div>

      See https://stackoverflow.com/a/76207141.
    */
    .backdrop-hack {
        @apply absolute inset-0 -z-10;
    }
}

.brightness-200 {
    -webkit-filter: brightness(150%);
}

/*Prevent an element from being selected and copied with CSS. see https://danoc.me/blog/css-prevent-copy*/
[data-pseudo-content]::before {
    content: attr(data-pseudo-content);
}

.user-prose h1,
.user-prose h2,
.user-prose h3,
.user-prose h4,
.user-prose p,
.user-prose a,
.user-prose blockquote,
.user-prose figure,
.user-prose figcaption,
.user-prose strong,
.user-prose em,
.user-prose code,
.user-prose pre,
.user-prose ol,
.user-prose ul,
.user-prose li,
.user-prose table,
.user-prose thead,
.user-prose tr,
.user-prose th,
.user-prose td,
.user-prose img,
.user-prose video,
.user-prose hr {
    @apply text-violet-100 !important;
}
.user-prose a{
    @apply visited:text-purple-400 !important;
}

.assistant-prose h1,
.assistant-prose h2,
.assistant-prose h3,
.assistant-prose h4,
.assistant-prose p,
.assistant-prose a,
.assistant-prose blockquote,
.assistant-prose figure,
.assistant-prose figcaption,
.assistant-prose strong,
.assistant-prose em,
.assistant-prose code,
.assistant-prose pre,
.assistant-prose ol,
.assistant-prose ul,
.assistant-prose li,
.assistant-prose table,
.assistant-prose thead,
.assistant-prose tr,
.assistant-prose th,
.assistant-prose td,
.assistant-prose img,
.assistant-prose video,
.assistant-prose hr {
    @apply text-neutral-800 leading-snug !important;
}
.assistant-prose a{
    @apply visited:text-purple-600 !important;
}

h1,
h2,
h3,
h4{
    @apply my-0.5 !important;
}
